.container-footer {
  display: block;
  max-width: 100%;

  @include for-size(desktop) {
    width: calc((100% - 40px * 3) / 4);
  }
}
.address-link {
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
.container-footer:not(:last-child) {
  margin-bottom: 60px;

  @include for-size(tablet) {
    width: 50%;
  }

  @include for-size(desktop) {
    width: calc((50% - 45px) / 2);
  }
}

.container-footer:last-child {
  width: 100%;

  @include for-size(desktop) {
    width: calc(50% - 15px);
  }
}
.flex-container {
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.email-container {
  width: 100%;
}
.addr-conteiner {
  width: 100%;
}

.icons-container {
  width: 100%;
  align-content: flex-start;

  @media screen and (max-width: 768px) {
    margin-bottom: 60px;
  }
}
.footer-addr {
  color: $accent-color;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition: color $timing-function;
}

.footer-links {
  padding-left: 0px;
  margin-bottom: 0px;
}

.footer-links .footer-addr:hover,
.footer-links .footer-addr:focus {
  color: $second-accent-color;
}

.footer-links .footer-addr:active {
  color: $second-accent-color;
}

.footer-links .link {
  color: $footer-color;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition: color $timing-function;

  &:hover,
  &:focus {
    color: $second-accent-color;
  }

  &:active {
    color: $second-accent-color;
  }
}
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $second-background-color;

  @include for-size(tablet) {
    display: flex;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.logo-footer {
  color: $accent-color;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.footer-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $accent-color;
  margin: 12px 0 20px 0;
}
.footer-social-link {
  fill: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}

.addr-marg {
  margin-bottom: 9px;
}
.submit-footer {
  width: calc((100% - 30px) / 2);
  display: flex;
  flex-wrap: wrap;
}

.newsletter-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $accent-color;
  margin-top: 12px;
  margin-bottom: 20px;
}

input {
  height: 50px;
}

.footer-flex {
  @include for-size(desktop) {
    display: flex;
    flex-direction: row;
  }
}

.input-submit {
  padding-left: 16px;
  margin-right: 12px;
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--secondary-bck-color);
  color: var(--accent-rgba-color);

  @media screen and (max-width: 480px) {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 768px) {
    width: 450px;
  }

  @include for-size(desktop) {
    width: 358px;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  padding-left: 28px;
  padding-right: 29px;
  border: none;
  border-radius: 4px;
  height: 50px;
}
.icon-email {
  width: 22px;
  height: 22px;
  margin-left: 10px;
  fill: $accent-color;

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
